body {
	font-family: "p22-underground", Helvetica, Arial, Sans-serif;
	font-size: 11px;
	color: #414141;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	background-color: #eee;
}

a:link, a:visited {
	color: #414141;
	text-decoration: none;
}

.dimmed {
	opacity: 0.3;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.unselectable:hover {
	cursor:default;
}

#top, #bottom, #left, #right {
	background-color: #eee;
	position: fixed;
	z-index: 99;
}
#top, #left {
	top: 0;
	left: 0;
}
#bottom, #right {
	bottom: 0;
	right: 0;
}

#top, #bottom {
	width: 100%;
	height: 10px;
}

#left, #right {
	width: 10px;
	height: 100%;
}

#main {
	padding: 40px 75px;
	margin: 10px;
	background-color:#FFF;
	text-align: center;
}

#main-tinted-dark, #main-tinted-light {
	opacity: 0.8;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	position: fixed;
	top: 10px;
	left: 10px;
	display: none;
}
#main-tinted-dark {
	background-color: #333;
}

#main-tinted-light {
	background-color: #fff;
}

#twitter {
	position:absolute;
	top: 10px;
	right: 10px;
}

#head {
	height: 133px;
	vertical-align: bottom;
	margin: 0 auto;
	text-align: left;
}
@media only screen and (max-width: 1190px) {
	#head, #work {
		width: 770px;
	}
}
@media only screen and (max-width: 1451px) and (min-width: 1191px) {
	#head, #work {
		width: 1026px;
	}
}
@media only screen and (min-width: 1452px) {
	#head, #work {
		width: 1283px;
	}
}

#head-left {
	float: left;
	width: 200px;
}
#head-left .sections {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 3px;
}
#head-left #rule {
	width: 200px;
	border-bottom: 1px solid #424242;
	margin: 6px 0;
}
#head-left #head-nav {
	line-height: 1.7;
}
#head-left #head-nav a:link, #head-left #head-nav a:visited {
	color: #424242;
}
#head-left #head-nav a:hover {
	text-decoration: underline;
}

#head-left #head-nav #filter-container {
}
#head-left #head-nav #filter {
	width: 0px;
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
}
#head-left #head-nav #inner-filters {
	width: 500px;
	vertical-align: bottom;
}
#head-left #head-nav #filter a:link {
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
#head-left #head-nav #filter a:hover {
	border-bottom: 1px solid #424242;
}
#headline {
	font-size: 21px;
	text-transform: uppercase;
}
#subhead {
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 5px;
}

#head-right {
	float: right;
	text-align: right;
	margin-top: 20px;
}

#head-right img {
	margin-left: 17px;
}

#info {
	display: inline-block;
	line-height: 1.3;
}
#info a:link, #info a:visited {
	color: #424242;
}
#info a:hover {
	text-decoration: underline;
}

#work {
	margin: 0 auto;
	text-align: left;
}

.work-item {
	width: 250px;
	height: 205px;
	margin-right: 4px;
	margin-bottom: 4px;
	display: inline-block;
}

.work-item .desc {
	width: 224px; /* 250 - 26 */
	height: 58px; /* 84 - 26 */
	margin-top: -2px;
	text-align: center;
	padding:13px;
	line-height: 1.3;
}

.work-item .desc .title {
	display: block;
	font-weight: bold;
}

.work-lightbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #eeeeee;
}

.work-lightbox .loading {
	width: 400px; height: 200px;
	background: transparent url('../img/loading.gif') no-repeat center center;
}

//.work-lightbox img {
//	top: 0; left: 0;
//	z-index: 10;
//}

.work-lightbox .bottom-bar {
	background-color: #eeeeee;
	opacity: 0.9;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	margin-top: -2px;
	padding-top: 10px;
	height: 20px;
	text-align: center;
}

.work-lightbox .bottom-bar .title {
	text-transform: uppercase;
	float: left;
	margin-left: 15px;
}

.work-lightbox .desc-box {
	position: absolute;
	left: 0;
	bottom: 30px;
	background-color: #eeeeee;
	opacity: 0.95;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	display: none;
	color: #636363;
	padding: 40px 80px;
	line-height: 1.5;
}

.work-lightbox .desc-box .x {
	position: absolute;
	top: 0;
	right: 0;
}

.work-lightbox .bottom-bar .slide-ctrl {
	display: inline-block;
	margin: 0 auto;
}
.work-lightbox .bottom-bar .slide-ctrl .left-backup, .work-lightbox .bottom-bar .slide-ctrl .right-backup{
	display: none;
	opacity: 0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.work-lightbox .bottom-bar .slide-ctrl .slide-count {
	vertical-align: top;
	margin: 0 35px;
}
.work-lightbox .bottom-bar .details {
	text-transform: uppercase;
	float: right;
	margin-right: 15px;
	font-style: italic;
}

.work-lightbox .stretcher {
	display: none;
}

#proj-nav {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 99;
	display: none;
	background-color: #fff;
}
#proj-nav a:hover {
	border-bottom: 1px solid #999;
}
#proj-nav a#proj-x:hover {
	border: none;
}
#proj-nav #padding {
	background-color: #eee;
	padding: 8px 8px 0 8px;
	height: 21px;
	display: inline-block;
	text-transform: uppercase;
	margin: 0;
}
#proj-nav #proj-x {
	margin: 0 0 -2px -3px;
	display: inline-block;
	vertical-align: bottom;
}