body {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 11px;
	color: #414141;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	background-color: #eee;
}

a:link {
	color: #414141;
}

#main {
	padding: 0 75px;
	margin: 10px;
	background-color:#FFF;
}

#main-tinted {
	background-color: #333;
	opacity: 0.8;
	position: absolute;
	top: 10px;
	left: 10px;
	display: none;
}

#twitter {
	position:absolute;
	top: 10px;
	right: 10px;
}

#head {
	height: 133px;
	vertical-align: bottom;
}

#head-left {
	float: left;
}
#headline {
	font-size: 21px;
	text-transform: uppercase;
}
#subhead {
	font-size: 12px;
	text-transform: uppercase;
}
#rule {
	width: 200px;
	border-bottom: 1px solid #424242;
}
.sections {
	text-transform: uppercase;
	font-weight: medium;
}

#head-right {
	float: right;
}

#head-right img {
	margin-right: 17px;
}

#info {
	display: inline-block;
}

.work-item {
	width: 250px;
	height: 205px;
	margin: 2px;
	display: inline-block;
}

.work-item .desc {
	width: 224px; /* 250 - 26 */
	height: 58px; /* 84 - 26 */
	margin-top: -2px;
	text-align: center;
	padding:13px;
}

.work-item .desc .title {
	display: block;
	font-weight: bold;
}

.work-lightbox {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #eeeeee;
}

.work-lightbox .bottom-bar {
	background-color: #eeeeee;
	opacity: 0.9;
	margin-top: -2px;
	padding-top: 10px;
	height: 20px;
	text-align: center;
}

.work-lightbox .bottom-bar .title {
	text-transform: uppercase;
	float: left;
	margin-left: 15px;
	width: 0px;
}

.work-lightbox .desc-box {
	position: absolute;
	left: 0;
	bottom: 30px;
	background-color: #eeeeee;
	opacity: 0.95;
	display: none;
	color: #636363;
	padding: 40px 80px;
	line-height: 1.5;
}

.work-lightbox .desc-box .x {
	position: absolute;
	top: 0;
	right: 0;
}

.work-lightbox .bottom-bar .slide-ctrl {
	display: inline-block;
	margin: 0 auto;
}

.work-lightbox .bottom-bar .slide-ctrl .slide-count {
	vertical-align: top;
	margin: 0 35px;
}
.work-lightbox .bottom-bar .details {
	text-transform: uppercase;
	float: right;
	margin-right: 15px;
	text-decoration: none;
}

.work-lightbox .stretcher {
	display: none;
}

#proj-nav {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 99;
}